.welcome-screen {
  position: relative;
  background-image: url('../../img/welcome-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Overlay */
.welcome-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Content above overlay */
.welcome-content,
.welcome-screen img {
  position: relative;
  z-index: 2;
  text-align: center;
}

/* Black text */
.welcome-content h1 {
  color: #f7f4f4;
  font-size: 3rem;
  margin-bottom: 20px;
}

.welcome-content button {
  margin: 10px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
}

.welcome-content button:hover {
  background-color: #ec8106;
}

.login-button {
  background-color: #3da54b;
  color: #fff;
}

.signup-button {
  background-color: #fafafa;
  color: #3da54b;
}

.signup-button:hover {
  color: white;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}
